{
  "parser": "babel-eslint",

  "extends": ["airbnb", "prettier"],

  "plugins": ["prettier"],

  "env": {
    "node": true,
    "mocha": true,
    "browser": true
  },

  "rules": {
    "import/first":"off",
    "no-underscore-dangle":"off"
  }
}
