<div class="home text-center" data-page="home">
  <img src="<%=asset_path('images/webpack-logo.svg')%>" class="logo img-responsive"/>
  <h2>Essential Links</h2>
  <p>
      <a href="https://webpack.js.org/" target="_blank">Webpack</a>
      <a href="http://expressjs.com/" target="_blank">Express</a>
  </p>
  <h2>Learn More</h2>
  <a href="/about">About</a>
</div>
<p class="copyright">Copyright <a href="https://github.com/Cherish-xzw">@travisxu</a> 2016 - <%=moment().format('YYYY')%> all rights reserved.</p>
